
@charset "UTF-8";

* { margin: 0; padding: 0;box-sizing: border-box; }

a { text-decoration: none; }

p { margin-top: 10px; margin-bottom: 15px; font-size: 18px; color: #444;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix { overflow: auto }

.wrapper {
  margin: 0 auto; 
}

nav {
  background: #000;
  background: linear-gradient(#0d0d0d, #404040, #0d0d0d);
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-transform: uppercase;
  margin: 15px 50px 15px 50px;
  display: inline-block;

}

nav ul li a:hover {
  color: red;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.navbar {
  overflow: hidden;
  background-color: #e9e9e9;
}

.navbar a{
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: lightblue;
  padding: 16px;
  color: white; 
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color:#f1f1f1;
  height: 500px;

}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add padding BETWEEN each column (if you want) */
.tab,
.tab > .column {
  padding: 8px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 500px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 500px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*
.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
}*/


/* Footer */
.footer {
  padding: 20px; 
  text-align: center; 
  background: black;
  margin-top: 80px; 
}

div.socialmedia { 
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
 
}

div.socialmedia ul { 
  list-style: none 
}

div.socialmedia ul li { 
  display: inline 
}

div.socialmedia ul li a {
  margin-left: 5px;
  padding: 6px;
  background: #444;
  color: #fff;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
}

div.socialmedia ul li a:hover {
  background: orange;
}

div.copyrights {
  width: 100%;
  background: #bbb;
  float: left;
  color: #ddd;
}

div.left {
  float: left;
  margin: 20px;
}

div.right {

}
